.copyright {
  @include link;
  color: $color-text-primary;

  &:hover {
    color: $color-text-primary;
  }

  &:active {
    color: $color-text-primary;
  }
}

.contact__text {
  font-size: 19px;
  line-height: 18px;
}
