// Цвета
$color-text-primary: #000000;
$color-text-secondary: #444444;
$color-text-accent: #63d1bb;
$color-text-negative: #ffffff;
$color-accent-primary: #63d1bb;
$color-accent-primary-dark-1: #149080;
$color-accent-primary-dark-2: #56c3b2;
$color-secondary-1: #ececec;
$color-secondary-2: #f1f1f1;
$color-secondary-3: #e5e5e5;
$font-1: "opensans", "arial", sans-serif;
